
<!-- <textarea cols="30" rows="10" [value]="newPost" #postInput></textarea> --> 

<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input matInput 
            type="text" 
            name="title" 
            ngModel 
            required
            placeholder="Title" 
            #title="ngModel">
            <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput 
            rows="6" 
            name="content" 
            ngModel 
            required
            placeholder="Content" 
            #content="ngModel"></textarea>
            <mat-error *ngIf="content.invalid">Please add content</mat-error>
        </mat-form-field>
        <button mat-raised-button
                color="primary"
            type="submit">Save Post
        </button>
    </form>
</mat-card>
